<div class="profile-container">
    <img src="/assets/images/profile.jpg" alt="Profile Picture" class="profile-image">
    <div class="social-links">
        {% if site.email %}
        <a href="mailto:{{ site.email }}" class="social-icon" title="Email">
            <i class="fas fa-envelope"></i>
        </a>
        {% endif %}
        {% if site.twitter_username %}
        <a href="https://twitter.com/{{ site.twitter_username }}" class="social-icon" title="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        {% endif %}
        {% if site.linkedin_username %}
        <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="social-icon" title="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        {% endif %}
        {% if site.github_username %}
        <a href="https://github.com/{{ site.github_username }}" class="social-icon" title="GitHub">
            <i class="fab fa-github"></i>
        </a>
        {% endif %}
        {% if site.google_scholar %}
        <a href="https://scholar.google.com/citations?user={{ site.google_scholar }}" class="social-icon" title="Google Scholar">
            <i class="fas fa-graduation-cap"></i>
        </a>
        {% endif %}
        <a href="/assets/cv/Brenna_s_CV_apr25.pdf" class="social-icon" title="CV">
            <i class="fas fa-file-pdf"></i>
        </a>
    </div>
</div>
